certifi==2024.8.30
charset-normalizer==3.3.2
customtkinter==5.2.2
darkdetect==0.8.0
idna==3.10
packaging==24.1
psutil==6.0.0
pynput==1.7.7
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
redis==5.1.1
requests==2.32.3
six==1.16.0
spotipy==2.24.0
urllib3==2.2.3
